*{
    margin: 0;
    padding: 0;
}

/* blogs banner css */

.blogsBanner{
    height: 100vh;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* position: relative; */
    /* background: linear-gradient(to left,gray 0%,black 100% ); */
    background: linear-gradient(98.3deg,rgb(0,0,0)10.6%, rgb(255,0,0) 97.7%);
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
.Blogstext{
    height: 100vh;
    width: 40%;
    font-size: 1em;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.Blogstext >p{
    font-size: 0.8em;
}
.blog-line{
    height: 50px;
    width: 50%;
    border-bottom: 1px solid honeydew;
}
.slogan-line{
    margin-top: 15px;
    display: flex;
    justify-content: end;
}
.slogan-line >p {
    font-size: 0.8em;
}
.blogImg{
    background-image: url("./Devi2.jpeg");
    width: 50%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;
    z-index: -300px;
    /* filter: grayscale(60%); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.Blogstext > h1{
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke
}
.blogImg >img{
    object-fit: center;
    margin: 0 auto;
    margin-left: 100px;
}
.blogPara{
    width: 40%;
    margin-top: 55px;
    font-size: 1.2em;
}
.animation-container{
    display: flex;
    justify-content: center;
}

.ani-container{
    position: relative;
    width: 500px;
    max-width: 100%;
    height: 400px;
}
.image{
    position: absolute;
    width: 100%;
    opacity: 0;
    animation: change-img 30s infinite;
}
.image:nth-of-type(1){
    animation-delay: 0s;
}
.image:nth-of-type(2){
    animation-delay: 5s;
}
.image:nth-of-type(3){
    animation-delay: 10s;
}
@keyframes change-img {
    0%{opacity: 0;}
    10%{opacity: 1;}
    90%{opacity: 1;}
    100%{opacity: 0;}
}


/* respopnsive design  */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .blogsBanner{
        height: 150vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .blogsHeading{
        font-size: .5em;
        width: 100%;
        background-color: green;
    }
    .Blogstext > h1{
        font-size: 1em !important;
        width: 100%;
    }
    .blogsBanner{
        margin-bottom: 50px;
    }
    .accordian_section{
        margin-bottom: 70px;
    }
    .blogsBannerC{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Blogstext{
        font-size: 1em !important;
    }
    .blogsBannerC{
        height: 180vh !important;
    }
    .blogImg1{
        display: flex;
        justify-self: center;
        height: 40% !important;
    }
    .blogImgC > img{
        margin-left: 0 !important;
    }
    .footer_container{
        margin-top: 50px;
    }
    .blogImg3{
        /* display: flex;
        justify-self: center; */
        width: 40% !important;
    }
}