*{
    margin: 0;
    padding: 0;
}
/* common css */
.container_fluid{
    display: flex;
    width: 100%;
    justify-content: center;
}
.container{
    max-width: 1270px;
    width: 100%;
}

/* banner css */
.images_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
}
.images{
    display: flex;
}
.images{
    height: 500px;
    width: 50%;
    position: relative;
}
.images_container{
    display: flex;
    justify-content: space-between;
}
.image{
    width: 350px;
    height: 270px;
    background-image: url("../images/temple.jpeg");
    background-size: cover;
    background-position: center left;
    position: absolute;
    top: 50px;
    border-radius: 30px;
}
.image2{
    width: 400px;
    height: 270px;
    background-image: url("../images/Main_gate_banner1.jpeg");
    background-size: cover;
    position: absolute;
    /* left: 30px   ; */
    top: 350px;
    overflow-x: 200;
    border-radius: 30px;
}
.image3{
    width: 350px;
    height: 350px;
    background-image: url("../images/Devi3.jpeg");
    background-size: cover;
    position: absolute;
    z-index: 500;
    left: 350px;
    top: 150px;
    border-radius: 30px;
}
.mobileViewBannerText{
    display: none;
}
.container-mobile-images{
    display: none;
}
.bannerText{
    /* height: 600px; */
    width: 40%;
    background-repeat: no-repeat;
    /* top: 50px; */
    z-index: 200;
    right: 0px;
    margin-top: 20px;
}

.heading_text{
    color: rgba(255,136,0,1);
    font-size: 2em;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tiro-devanagari-marathi-regular-italic {
    font-family: "Tiro Devanagari Marathi", serif;
    font-weight: 400;
    font-style: italic;
}
.middle_para{
    line-height: 2.3em; 
    /* margin-top: 50px; */
    /* width: 60%; */
    /* margin-left: 130px; */
    font-weight: 400;
    font-size: 1.2em;
}

.paymentContainer{
    width: 100%;
    height: 500px;
    display: flex;
    /* flex-direction: column; */
    background-color: red;
    margin-bottom: 50px;
}

.form-container{
    height: 500px;
    width: 100%;
    background-color: green;
}

.flex2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.bankinfo{
    line-height: 15px;
}
.aboutGallery{
    height: 500px;
    width: 100%;
    /* background-color: red; */
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.about{
    width: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.photoGallery{
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    animation: animation 6s  infinite ;
    transition: .2s;
}
@keyframes animation {
   0%{
        /* background-color: rgb(43, 43, 43); */
        opacity: 0;
   }
   20%{
    background-image: url("../images/DeviFace.jpeg");
    
    opacity: 1;
   }
   40%{
    /* background-color: rgb(43, 43, 43); */
        opacity: 0;
   }
   60%{
    background-image: url("../images/DeviFace2.jpeg");
    opacity: 1;
    
   }
   80%{
    /* background-color: rgb(43, 43, 43); */
        opacity: 0;
   }
   100%{
    background-image: url("../images/DeviFace3.jpeg");
    opacity: 1;
    
   }

}


